################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Blackjack/v16/.suo
/.vs/Blackjack/v16/Browse.VC.db
/Blackjack/.vs/Blackjack/v16/ipch/AutoPCH/4de0ce6fe911ca6b/BLACKJACK.ipch
/Blackjack/.vs/Blackjack/v16/ipch/AutoPCH/c1621bb7dbbc2a81/GAME.ipch
/Blackjack/.vs/Blackjack/v16/Browse.VC.db
/Blackjack/.vs/Blackjack/v16/Browse.VC.opendb
/.vs/slnx.sqlite
/.vs
/Debug
